body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  background-color: #bebebe;
  margin: 0 auto;
  width: 80%;
}

.wrapper {
  background-color: #e3e3e3;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  width: 80%;
}

.pos-fixed {
  background-color: bisque;
  border: 3px solid bisque;
  color: darkcyan;
  left: 10%;
  opacity: 90%;
  padding: 50px 0;
  position: fixed;
  text-align: center;
  top: 0;
  width: 180px;
}

.pos-relative {
  background-color: burlywood;
  left: 50%;
  padding: 75px 0;
  position: relative;
  text-align: center;
  transform: translateX(-50%);
  width: 80%;
}

.pos-absolute {
  background-color: darkcyan;
  color: antiquewhite;
  padding: 50px 0;
  position: absolute;
  right: 10%;
  text-align: center;
  top: 45%;
  width: 200px;
}
